* {
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 50vh;
    height: 50vh;
}
.links {
 margin-top:20px ;  
}
a {
    margin-left: 10px;
}